<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova.plugins.diagnostic"
    version="7.1.4">

    <name>Diagnostic</name>
    <description>Cordova/Phonegap plugin to check the state of Location/WiFi/Camera/Bluetooth device settings.</description>
    <author>Dave Alden</author>
    <license>MIT</license>
    <keywords>ecosystem:cordova,cordova,phonegap,android,ios,diagnostic,wifi,location,gps,camera,bluetooth,settings</keywords>
    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=8.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>
    <repo>https://github.com/dpa99c/cordova-diagnostic-plugin.git</repo>
    <issue>https://github.com/dpa99c/cordova-diagnostic-plugin/issues</issue>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Diagnostic">
                <param name="ios-package" value="Diagnostic" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <js-module src="www/ios/diagnostic.js" name="Diagnostic">
            <merges target="cordova.plugins.diagnostic" />
        </js-module>

        <header-file src="src/ios/Diagnostic.h" />
        <source-file src="src/ios/Diagnostic.m" />

        <!--BEGIN_MODULE CALENDAR-->
        <config-file target="config.xml" parent="/*">
            <feature name="Diagnostic_Calendar">
                <param name="ios-package" value="Diagnostic_Calendar" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <js-module src="www/ios/diagnostic.calendar.js" name="Diagnostic_Calendar">
            <merges target="cordova.plugins.diagnostic.calendar" />
        </js-module>

        <framework src="EventKit.framework" />

        <config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
            <string>This app requires calendar access to function properly.</string>
        </config-file>

        <header-file src="src/ios/Diagnostic_Calendar.h" />
        <source-file src="src/ios/Diagnostic_Calendar.m" />
        <!--END_MODULE CALENDAR-->

        <!--BEGIN_MODULE REMINDERS-->
        <config-file target="config.xml" parent="/*">
            <feature name="Diagnostic_Reminders">
                <param name="ios-package" value="Diagnostic_Reminders" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <js-module src="www/ios/diagnostic.reminders.js" name="Diagnostic_Reminders">
            <merges target="cordova.plugins.diagnostic.reminders" />
        </js-module>

        <framework src="EventKit.framework" />

        <config-file target="*-Info.plist" parent="NSRemindersUsageDescription">
            <string>This app requires reminders access to function properly.</string>
        </config-file>
        
        <header-file src="src/ios/Diagnostic_Reminders.h" />
        <source-file src="src/ios/Diagnostic_Reminders.m" />
        <!--END_MODULE REMINDERS-->
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Diagnostic" >
                <param name="android-package" value="cordova.plugins.Diagnostic"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <js-module name="Diagnostic" src="www/android/diagnostic.js">
            <merges target="cordova.plugins.diagnostic" />
        </js-module>

        <source-file src="src/android/Diagnostic.java" target-dir="src/cordova/plugins" />

        <preference name="ANDROIDX_VERSION" default="1.0.0" />
        <preference name="ANDROIDX_APPCOMPAT_VERSION" default="1.3.1" />
        <framework src="androidx.legacy:legacy-support-v4:$ANDROIDX_VERSION" />
        <framework src="androidx.appcompat:appcompat:$ANDROIDX_APPCOMPAT_VERSION" />
      
        <!--BEGIN_MODULE CALENDAR-->
        <js-module name="Diagnostic_Calendar" src="www/android/diagnostic.calendar.js">
            <merges target="cordova.plugins.diagnostic.calendar" />
        </js-module>
        <!--END_MODULE CALENDAR-->
    </platform>
</plugin>
